$tipos: (
    acero : #b0b0b0,
    bicho : #95c799,
    dragon : #7250c0,
    electrico : #ffff56,
    fantasma : #572364,
    fuego :  #ff4000,
    hada :  #ffc1d3,
    hielo :  #e3f0f8,
    lucha :  #ff8000,
    normal :  #cccccc,
    planta : #008f39,
    psiquico :  #ff3e99,
    roca :  #a78361,
    siniestro : #292929,
    tierra :  #f5deb3,
    veneno : #8f4e8f,
    volador :  #c5e2f6,
    agua : #34bbe9
);